<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ray.myapplication">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:name=".utils.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="g1ttLioC9R3CB5e79ehHgacvyEb7Bact" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="05926b8b78e99fc83af48e59f2e51e04" />

        <service android:name="com.amap.api.location.APSService" />

        <activity android:name=".UIView.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UIView.recycleview.RecycleActivity"
            android:label="RecycleActivity"
            android:theme="@style/NoAppTheme" />
        <activity android:name=".NetWork.ClientActivity" />
        <activity
            android:name=".Function.ThreadActivity"
            android:label="@string/title_activity_thread" />
        <activity
            android:name=".DataParse.SQLite.OrderActivity"
            android:label="@string/title_activity_sql" />
        <activity
            android:name=".UIView.Animation.AnimationActivity"
            android:label="@string/title_activity_animation" />
        <activity android:name=".UIView.Animation.LayoutAnimationActivity" />
        <activity android:name=".UIView.Fragments.FragmentsActivity" />
        <activity android:name=".NetWork.Download.DownloadActivity" />

        <service
            android:name=".NetWork.Download.DownloadService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".UIView.Web.GetUrlActivity" />
        <activity android:name=".DataParse.Parsing.ParseActivity" />
        <activity
            android:name=".UIView.MaterailU.MaterailActivity"
            android:theme="@style/NoAppTheme" />

        <receiver
            android:name=".Function.AlarmManager.MyReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".Function.AlarmManager.MyReceiver2"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".Function.AlarmManager.AlarmSearchActivity" />
        <activity android:name=".UIView.Fragments.ViewPagerActivity" />
        <activity android:name=".UIView.BannerView.BannerActivity" />

        <service android:name=".UIView.RemoteViews.TimerService" />

        <receiver android:name=".UIView.RemoteViews.WidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/remote_widget" />
        </receiver>

        <provider
            android:name=".DataParse.ContentProviders.Provider"
            android:authorities="cn.scu.provider" />

        <activity android:name=".MapView.BDLocations.BDLocationActivity" />
        <activity android:name=".MapView.BDLocations.BDNavigationActivity" />
        <activity android:name=".MapView.BDLocations.NavigationActivity" />
        <activity android:name=".MapView.LocationsActivity" />
        <activity android:name=".MapView.GDLocations.GDLocationActivity" />
        <activity android:name=".MapView.GDLocations.GDSearchActivity" />

        <receiver android:name=".Broadcasts.CallReceiver">
            <intent-filter>

                <!-- 定义接收的广播 -->
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>
        <receiver android:name=".Broadcasts.SMSReceiver">
            <intent-filter android:priority="1000">

                <!-- 定义接收的广播,被Google隐藏的权限操作 -->
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".Broadcasts.SDReceiver">
            <intent-filter>

                <!-- SD卡就绪广播 -->
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <!-- SD卡拔出广播 -->
                <action android:name="android.intent.action.MEDIA_REMOVED" />
                <!-- SD卡卸载广播 -->
                <action android:name="android.intent.action.MEDIA_UNMOUNTABLE" />

                <data android:scheme="file" />
            </intent-filter>
        </receiver>

        <activity android:name=".NetWork.OkhttpRetrofit.OkhttpRetrofitActivity" />
        <activity
            android:name=".Function.News.GetYwnNewsActivity"
            android:label="@string/title_activity_get_ywn_news" />
        <activity android:name=".UIView.LettersNavigation.LettersActivity" />
        <activity android:name=".Function.Calendar.CalendarActivity"></activity>
    </application>

</manifest>